apex==0.9.10dev
bitarray==2.8.4
faiss_cpu==1.7.4
faiss_gpu==1.7.2
geomloss==0.2.6
matplotlib==3.7.4
numpy==1.24.4
optuna==4.2.1
pandas==2.0.3
Pillow==10.1.0
Pillow==11.1.0
psutil==5.9.6
pyts==0.13.0
redis==5.0.1
scikit_learn==1.3.2
scipy==1.15.2
seaborn==0.13.2
torch==2.1.1
torchnet==0.0.4
torchvision==0.16.1
tqdm==4.66.1
tsaug==0.2.1
tslearn==0.6.2
umap==0.1.1
wandb==0.16.0

